# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/
*.tmp

# Build
target/
bin/
build/

# Maven
.mvn/
!**/src/main/**/.keep
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.settings/
.project
.classpath

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env Files
.env

# Application secrets
src/main/resources/application.properties
